@charset "UTF-8";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
/* font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

body,
button,
input,
select,
textarea {
  font-family: 'NanumSquare','나눔고딕',Dotum,'돋움',Helvetica,Arial,AppleSDGothicNeo,sans-serif;
  font-size: 13px;
  line-height: 1.7;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 1280px;
  margin: auto;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .container {
    width: 100%;
    padding: 3rem 6rem 1rem 6rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 1rem 6rem 1rem 6rem;
  }
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -222222222rem;
}

.splice_ico {
  display: block;
  background: url(../images/sp_ico.png) no-repeat;
  background-size: 500px 3000px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .splice_ico {
    background-size: 450px auto;
  }
}

@media screen and (max-width: 700px) {
  .splice_ico {
    background-size: 360px auto;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@-webkit-keyframes wobble {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes wobble_reverse {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes wobble_reverse {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes wiggle {
  5%,
  50% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
  10% {
    -webkit-transform: scale(0.9) translateX(-50%);
            transform: scale(0.9) translateX(-50%);
  }
  15% {
    -webkit-transform: scale(1.15) translateX(-50%);
            transform: scale(1.15) translateX(-50%);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg) translateX(-50%);
            transform: scale(1.15) rotate(-5deg) translateX(-50%);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg) translateX(-50%);
            transform: scale(1.15) rotate(5deg) translateX(-50%);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg) translateX(-50%);
            transform: scale(1.15) rotate(-3deg) translateX(-50%);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg) translateX(-50%);
            transform: scale(1.15) rotate(2deg) translateX(-50%);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0) translateX(-50%);
            transform: scale(1.15) rotate(0) translateX(-50%);
  }
}

@keyframes wiggle {
  5%,
  50% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
  10% {
    -webkit-transform: scale(0.9) translateX(-50%);
            transform: scale(0.9) translateX(-50%);
  }
  15% {
    -webkit-transform: scale(1.15) translateX(-50%);
            transform: scale(1.15) translateX(-50%);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg) translateX(-50%);
            transform: scale(1.15) rotate(-5deg) translateX(-50%);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg) translateX(-50%);
            transform: scale(1.15) rotate(5deg) translateX(-50%);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg) translateX(-50%);
            transform: scale(1.15) rotate(-3deg) translateX(-50%);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg) translateX(-50%);
            transform: scale(1.15) rotate(2deg) translateX(-50%);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0) translateX(-50%);
            transform: scale(1.15) rotate(0) translateX(-50%);
  }
}

#skip {
  position: relative;
}

#skip a {
  position: absolute;
  left: 0;
  top: -200px;
  width: 300px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #eaf8f0;
  outline: none;
  background: #00d564;
  line-height: 30px;
  z-index: 20000;
}

#skip a:active, #skip a:focus {
  top: 0;
}

.nav_checkbox {
  display: none;
}

.nav_button {
  background-color: #00d564;
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 4rem;
  right: 8rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0.5rem -0.5rem 2rem rgba(255, 255, 255, 0.4), -0.5rem 0.5rem 2rem rgba(255, 255, 255, 0.4);
          box-shadow: 0.5rem -0.5rem 2rem rgba(255, 255, 255, 0.4), -0.5rem 0.5rem 2rem rgba(255, 255, 255, 0.4);
  text-align: center;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .nav_button {
    top: 5rem;
    right: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .nav_button {
    top: 4rem;
    left: 4rem;
  }
}

.nav_bg {
  background-image: radial-gradient(#00d564, #eaf8f0);
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 4rem;
  right: 8rem;
  z-index: 1000;
  border-radius: 2px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .nav_bg {
    top: 5rem;
    right: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .nav_bg {
    top: 4rem;
    left: 4rem;
  }
}

.nav_checkbox:checked ~ .nav_bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav_icon {
  position: relative;
  margin-top: 3rem;
}

.nav_icon::before {
  top: -.8rem;
}

.nav_icon::after {
  top: 0.8rem;
}

.nav_icon::before, .nav_icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav_icon, .nav_icon::before, .nav_icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.nav_button:hover .nav_icon::before {
  top: -1rem;
}

.nav_button:hover .nav_icon::after {
  top: 1rem;
}

.nav_checkbox:checked ~ .nav_button .nav_icon {
  background-color: transparent;
}

.nav_checkbox:checked ~ .nav_button .nav_icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav_checkbox:checked ~ .nav_button .nav_icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav_body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav h1 {
  top: 50px;
  left: 40px;
  z-index: 200;
}

@media screen and (max-width: 700px) {
  .nav h1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.nav h1 img {
  width: 116px;
  height: 39px;
}

.nav_list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav_link {
  display: inline-block;
  font-family: 'NanumSquareBold';
  font-size: 3rem;
  font-weight: 300;
  padding: 1.5rem 4rem;
  /* border-radius: 4rem 0 0 4rem;
		border-radius: 4rem; */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 300%;
}

.nav_link:hover {
  color: #00d564;
  padding-left: 8rem;
  background-position: 68%;
}

.nav_link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav_checkbox:checked ~ .nav_body {
  opacity: 1;
  left: 0;
}

header {
  width: 100%;
}

header .lang_box {
  position: absolute;
  top: 36px;
  left: 40px;
  /* right: 200px; */
  width: 126px;
  height: 45px;
  z-index: 100;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header .lang_box {
    top: 60px;
  }
}

@media screen and (max-width: 700px) {
  header .lang_box {
    top: 50px;
    left: 150px;
  }
}

header .lang_box .lang {
  position: absolute;
  top: 0;
  right: 0;
  width: 126px;
  height: 45px;
  overflow: hidden;
  padding: 7px 0 7px 0;
  border: 1px solid #00d564;
  border-radius: 23px;
}

header .lang_box .lang.open {
  height: auto;
}

header .lang_box .lang_option a {
  color: #353b42;
  display: block;
  padding: 9px 0 9px 23px;
  font-size: 14px;
  line-height: 14px;
}

header .lang_box .lang_option.active {
  color: #00d564;
}

header .lang_box .lang_option.active a {
  color: #00d564;
}

header .lang_box .lang_option.active ::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 14px;
  width: 11px;
  height: 11px;
  background: url(../images/sp_ico.png) 0 0 no-repeat;
  background-size: 500px 3000px;
  background-position: -489px -15px;
  vertical-align: middle;
}

header .lang_box .lang_option.selected {
  color: #00d564;
}

header .lang_box .lang_option.selected a {
  color: #00d564;
}

header .lang_box .lang_option.selected ::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 14px;
  width: 11px;
  height: 11px;
  background: url(../../images/sp_ico.png) 0 0 no-repeat;
  background-size: 500px 3000px;
  background-position: -488px -392px;
  vertical-align: middle;
}

header img {
  width: 100%;
  height: 822px;
}

header img:nth-of-type(2) {
  height: 210px;
  top: -220px;
  z-index: 50;
}

header .parallex_bg {
  overflow: hidden;
  width: 100%;
  height: 822px;
  top: 0;
  /* background: url(../images/spot_bg_area.png) left top / contain no-repeat; */
  background: url(../images/spot_bg_area.png) 50% 0 no-repeat;
  background-size: 2279px 822px;
  background-attachment: fixed;
}

header .container {
  width: 1280px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  /* @include mq ("tablet_scrn"){
      width: 100%;
    }//701~899px
    @include mq ("mobile_scrn"){
      width: 100%;
    }//~700px */
}

header .img div {
  position: absolute;
  z-index: 100;
  left: 50%;
}

header .img div.header_img1 {
  background: url(../images/spot_ico2.png) 0 0/cover no-repeat;
  top: 226px;
  width: 513px;
  height: 550px;
  margin-left: -644px;
  -webkit-animation: float 5s 5s infinite ease-in-out, wobble 4s 5s infinite linear;
          animation: float 5s 5s infinite ease-in-out, wobble 4s 5s infinite linear;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header .img div.header_img1 {
    top: 360px;
    margin-left: -411px;
  }
}

@media screen and (max-width: 700px) {
  header .img div.header_img1 {
    top: 450px;
    margin-left: -300px;
  }
}

header .img div.header_webtoon_logo {
  width: 399px;
  height: 381px;
  top: 145px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/spot_logo.png) 0 0/cover no-repeat;
  -webkit-animation: wiggle 4s;
          animation: wiggle 4s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header .img div.header_webtoon_logo {
    width: 370px;
    background-size: contain;
  }
}

@media screen and (max-width: 700px) {
  header .img div.header_webtoon_logo {
    top: 175px;
    width: 340px;
    background-size: contain;
  }
}

header .img div.header_img2 {
  background: url(../images/spot_ico3.png) 0 0/cover no-repeat;
  width: 237px;
  height: 375px;
  top: 95px;
  margin-left: 355px;
  -webkit-animation: float 5s 5s infinite ease-in-out, wobble_reverse 4s 5s infinite linear;
          animation: float 5s 5s infinite ease-in-out, wobble_reverse 4s 5s infinite linear;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header .img div.header_img2 {
    margin-left: 177px;
  }
}

@media screen and (max-width: 700px) {
  header .img div.header_img2 {
    top: 30px;
    margin-left: 120px;
    width: 130px;
    background-size: contain;
  }
}

header .img div.header_img_offscrn:nth-of-type(1) {
  background: url(../images/spot_ico1.png) 0 0/cover no-repeat;
  width: 243px;
  height: 213px;
  top: 205px;
  margin-left: -956px;
}

header .img div.header_img_offscrn:last-of-type {
  background: url(../images/spot_ico4.png) 0 0/cover no-repeat;
  width: 235px;
  height: 188px;
  top: 408px;
  margin-left: 732px;
}

main {
  z-index: 50;
  background-color: #ffffff;
}

.section {
  color: #595e65;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  /* common */
  /* intro section */
  /* history section */
  /* service section */
  /* business section */
  /* careers section */
  /* contact section */
}

.section h4 {
  font-size: 26px;
  color: #353b42;
}

@media screen and (max-width: 700px) {
  .section h4 {
    font-size: 22px;
  }
}

.section .intro {
  margin-top: 91px;
  background: #ffffff;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .intro {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .section .intro {
    margin-top: 50px;
  }
}

.section .intro h3 {
  width: 483px;
  height: 41px;
  background-position: -1px -2635px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .intro h3 {
    height: 36px;
    background-position: -1px -2372px;
  }
}

@media screen and (max-width: 700px) {
  .section .intro h3 {
    width: 290px;
    height: 65px;
    background-position: -1px -601px;
  }
}

.section .intro_txt {
  padding-top: 23px;
}

.section .intro_txt h4 {
  margin-bottom: 41px;
  font-family: "NanumSquareExtraBold";
}

.section .intro_txt_body {
  margin-bottom: 18px;
  font-size: 22px;
  line-height: 36px;
}

@media screen and (max-width: 700px) {
  .section .intro_txt_body {
    font-size: 18px;
    line-height: 1.7;
  }
}

.section .intro a {
  margin-top: 50px;
  display: block;
  width: 166px;
  height: 58px;
  background-position: -3px -2695px;
}

@media screen and (max-width: 700px) {
  .section#history {
    display: none;
  }
}

.section .history {
  padding-top: 144px;
  background: #ffffff;
}

@media screen and (max-width: 700px) {
  .section .history {
    padding-top: 250px;
  }
}

.section .history h3 {
  width: 237px;
  height: 41px;
  background-position: -1px -2782px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .history h3 {
    height: 36px;
    background-position: -1px -2504px;
  }
}

@media screen and (max-width: 700px) {
  .section .history h3 {
    height: 36px;
    background-position: -1px -2002px;
  }
}

.section .history_bg {
  width: 1278px;
  height: 273px;
  background: url(../images/bg_history.png) left top/cover no-repeat;
  margin: 51px 0 120px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .history_bg {
    width: 100%;
    background-size: contain;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .history_bg {
    width: 100%;
    background-size: contain;
  }
}

@media screen and (max-width: 700px) {
  .section .history_bg {
    width: 100%;
    background-size: contain;
  }
}

.section .service {
  width: 100%;
}

.section .service h3 {
  width: 226px;
  height: 54px;
  background-position: 0 -981px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service h3 {
    height: 36px;
    background-position: -1px -893px;
  }
}

@media screen and (max-width: 700px) {
  .section .service h3 {
    height: 36px;
    background-position: -1px -714px;
  }
}

.section .service_list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 48px 0 139px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .service_list {
    width: 95%;
    overflow: initial;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list {
    overflow: initial;
    margin: 0 0 139px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list {
    overflow: initial;
    display: block;
    width: 95%;
  }
}

.section .service_list li {
  margin: 60px 0 0 0;
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .service_list li {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li {
    padding-bottom: 190px;
  }
}

.section .service_list li:nth-of-type(2n) {
  margin-left: 36px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list li:nth-of-type(2n) {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li:nth-of-type(2n) {
    margin-left: 0;
  }
}

.section .service_list li::before {
  content: "";
  float: left;
  width: 160px;
  height: 160px;
  background: url(../images/sp_ico.png) 0 0 no-repeat;
  background-size: 500px 3000px;
  margin-right: 32px;
}

@media screen and (max-width: 700px) {
  .section .service_list li::before {
    float: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.section .service_list li.webtoon:before {
  background-position: 0 0;
}

.section .service_list li.cartoon::before {
  background-position: -170px 0;
}

.section .service_list li.novel::before {
  background-position: 0 -180px;
}

.section .service_list li.series::before {
  background-position: -170px -180px;
}

.section .service_list li.series_on::before {
  background-position: 0 -365px;
}

.section .service_list li.wattpad::before {
  background-position: -170px -365px;
}

.section .service_list li .service_content {
  width: 430px;
  text-align: left;
  margin-left: 160px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .service_list li .service_content {
    width: 57%;
    text-align: left;
    margin-left: 190px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .service_content {
    position: relative;
    top: 190px;
    text-align: center;
    margin-left: 0;
    width: auto;
  }
}

.section .service_list li .service_title {
  display: block;
  margin-bottom: 10px;
  font-family: "NanumSquareExtraBold";
  font-size: 21px;
  line-height: 1.33;
  color: #353b42;
}

.section .service_list li .service_txt {
  font-size: 17px;
  line-height: 30px;
}

@media screen and (max-width: 700px) {
  .section .service_list li .service_txt {
    font-size: 16px;
  }
}

.section .service_list li .icon {
  margin-top: 11px;
  margin-left: 30px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .service_list li .icon {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .icon {
    margin-left: 0;
  }
}

.section .service_list li .icon a {
  display: inline-block;
  width: 45px;
  height: 44px;
  margin-left: 7px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list li .icon a {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .icon a {
    width: 32px;
    height: 33px;
  }
}

.section .service_list li .icon a:last-child {
  margin-left: 5px;
}

.section .service_list li .icon a.android {
  background-position: 0 -1697px;
  margin-left: 0px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list li .icon a.android {
    background-position: 0 -1527px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .icon a.android {
    background-position: 0 -1221px;
  }
}

.section .service_list li .icon a.ios {
  background-position: -58px -1697px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list li .icon a.ios {
    background-position: -53px -1527px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .icon a.ios {
    background-position: -42px -1221px;
  }
}

.section .service_list li .icon a.web {
  background-position: -116px -1697px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .service_list li .icon a.web {
    background-position: -105px -1527px;
  }
}

@media screen and (max-width: 700px) {
  .section .service_list li .icon a.web {
    background-position: -84px -1221px;
  }
}

.section .business {
  width: 100%;
}

.section .business h3 {
  width: 266px;
  height: 54px;
  margin-bottom: 25px;
  background-position: 0 -1037px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business h3 {
    height: 37px;
    background-position: 0 -942px;
  }
}

@media screen and (max-width: 700px) {
  .section .business h3 {
    height: 37px;
    background-position: 0 -754px;
  }
}

.section .business_txt {
  font-family: "NanumSquareBold";
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 46px;
}

.section .business_list {
  margin-bottom: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .business_list li {
  display: block;
  width: 45%;
  border-top: 1px solid rgba(53, 59, 66, 0.77);
  border-bottom: 1px solid #f2f2f2;
  padding: 28px 0 37px;
}

.section .business_list li:last-child {
  margin-left: 36px;
}

.section .business_list li h4.studion {
  margin: 4px 0 1px;
  width: 182px;
  height: 39px;
  background-position: 0 -2500px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_list li h4.studion {
    width: 164px;
    background-position: 0 -2250px;
  }
}

@media screen and (max-width: 700px) {
  .section .business_list li h4.studion {
    width: 132px;
    background-position: 0 -1799px;
  }
}

.section .business_list li h4.lico {
  margin: 11px 0 6px;
  width: 91px;
  height: 27px;
  background-position: -200px -2500px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_list li h4.lico {
    width: 81px;
    background-position: -180px -2250px;
  }
}

@media screen and (max-width: 700px) {
  .section .business_list li h4.lico {
    width: 70px;
    background-position: -140px -1799px;
  }
}

.section .business_list li .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_list li .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .section .business_list li .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section .business_list li .content p {
  padding-top: 17px;
  font-size: 17px;
}

.section .business_list li .content button {
  width: 88px;
  height: 37px;
  background-position: -125px -2007px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .business_list li .content button {
    width: 115px;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_list li .content button {
    width: 154px;
    background-position: -112px -1806px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 700px) {
  .section .business_list li .content button {
    width: 64px;
    background-position: -90px -1443px;
    height: 29px;
    margin-top: 24px;
  }
}

.section .business_img_list {
  overflow: hidden;
  margin-bottom: 111px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_img_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 700px) {
  .section .business_img_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.section .business_img_list li {
  margin-left: 10px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section .business_img_list li {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .section .business_img_list li {
    margin-bottom: 2rem;
  }
}

.section .business_img_list li:first-child {
  margin-left: 0;
}

.section .business_img_list li img {
  width: 248px;
  height: 248px;
  border-radius: 50%;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section .business_img_list li img {
    width: 95%;
    height: 95%;
  }
}

.section#careers {
  width: 100%;
  height: 837px;
  overflow: hidden;
  background: url(../images/careers_bg.png) center center/cover no-repeat;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .section#careers {
    height: auto;
  }
}

.section#careers .careers {
  width: 100%;
  top: 0;
  left: 50%;
  margin-left: -640px;
  padding-top: 182px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers {
    width: 95%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers {
    position: static;
    margin-left: 0;
    padding-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers {
    position: static;
    margin-left: 0;
  }
}

.section#careers .careers h3 {
  width: 249px;
  height: 54px;
  margin-bottom: 42px;
  background-position: 0 -1093px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers h3 {
    width: 255px;
    height: 43px;
    background-position: 0 -991px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers h3 {
    width: 178px;
    height: 30px;
    background-position: 0 -794px;
  }
}

.section#careers .careers_list {
  margin-bottom: 24px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section#careers .careers_list li {
  width: 375px;
  height: 361px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li {
    width: 300px;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section#careers .careers_list li span {
  width: 42px;
  height: 50px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li span {
    width: 35px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li span {
    width: 28px;
  }
}

.section#careers .careers_list li:nth-child(1) span {
  background-position: -174px -1700px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(1) span {
    background-position: -151px -1525px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(1) span {
    background-position: -127px -1218px;
  }
}

.section#careers .careers_list li:nth-child(2) span {
  background-position: -221px -1700px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(2) span {
    background-position: -200px -1525px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(2) span {
    background-position: -160px -1218px;
  }
}

.section#careers .careers_list li:nth-child(3) span {
  background-position: -268px -1700px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(3) span {
    background-position: -243px -1525px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(3) span {
    background-position: -194px -1218px;
  }
}

.section#careers .careers_list li p {
  margin-left: 5px;
  font-size: 19px;
  line-height: 1.37;
  color: #353b42;
}

.section#careers .careers_list li:nth-child(2) {
  margin: 0 57px 0 78px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(2) {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(2) {
    margin: 0;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(2)::before {
    bottom: 101px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(2)::before {
    bottom: 101px;
  }
}

.section#careers .careers_list li::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 71px;
  left: 0;
  width: 375px;
  height: 1px;
  background-color: #353b42;
  opacity: 0.77;
  z-index: 10;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li::before {
    width: 90%;
    bottom: 105px;
  }
}

.section#careers .careers_list li::after {
  content: "";
  width: 375px;
  height: 290px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li::after {
    width: 95%;
  }
}

.section#careers .careers_list li:nth-child(1)::after {
  background-image: url(../images/careers4.png);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li:nth-child(1)::after {
    background-size: contain;
  }
}

.section#careers .careers_list li:nth-child(2)::after {
  background-image: url(../images/careers5.png);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li:nth-child(2)::after {
    background-size: contain;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers_list li:nth-child(2)::after {
    bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers_list li:nth-child(2)::after {
    bottom: 30px;
  }
}

.section#careers .careers_list li:nth-child(3)::after {
  background-image: url(../images/careers6.png);
  width: 395px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section#careers .careers_list li:nth-child(3)::after {
    width: 95%;
    background-size: contain;
  }
}

.section#careers .careers button {
  display: block;
  width: 260px;
  height: 90px;
  margin: 0 auto;
  background-position: -0 -1598px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#careers .careers button {
    width: 189px;
    height: 62px;
    background-position: -0 -1742px;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .section#careers .careers button {
    width: 151px;
    height: 49px;
    background-position: -0 -1393px;
    margin-bottom: 6rem;
  }
}

.section#contact {
  width: 100%;
  overflow: hidden;
  height: 773px;
  background-color: #00d564;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact {
    height: auto;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .section#contact {
    height: auto;
    padding-top: 6rem;
  }
}

.section#contact .contact {
  width: 100%;
}

.section#contact .contact h3 {
  width: 344px;
  height: 54px;
  top: 144px;
  left: 0;
  background-position: 0 -1149px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact h3 {
    position: static;
    width: 344px;
    height: 37px;
    background-position: 0 -1044px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact h3 {
    position: static;
    width: 250px;
    height: 30px;
    background-position: 0 -834px;
  }
}

.section#contact .contact dd {
  font-size: 17px;
  line-height: 1.65;
  color: #ffffff;
}

.section#contact .contact .contact1 {
  padding-top: 266px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact1 {
    padding-top: 90px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact1 {
    padding-top: 30px;
  }
}

.section#contact .contact .contact1 dl {
  margin-bottom: 55px;
}

.section#contact .contact .contact1 dl dt {
  width: 198px;
  height: 31px;
  background-position: 0 -1204px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact1 dl dt {
    width: 178px;
    height: 21px;
    background-position: 0 -1086px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact1 dl dt {
    width: 143px;
    height: 19px;
    background-position: 0 -869px;
    margin-bottom: 1rem;
  }
}

.section#contact .contact .contact1 a {
  display: block;
  height: 24px;
  margin: 32px 0 0 15px;
  font-size: 15px;
  color: #fff;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact1 a {
    margin: 21px 0 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact1 a {
    margin: 31px 0 0 12px;
    width: 98px;
  }
}

.section#contact .contact .contact1 a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #55e599;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.section#contact .contact .contact1 a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 11px;
  margin-left: 6px;
  background: url(../images/sp_ico.png) no-repeat;
  background-position: -491px 0;
  background-size: 500px 3000px;
}

.section#contact .contact .contact2 {
  padding-top: 52px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact2 {
    padding-top: 0;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact2 {
    padding-top: 0;
    padding-bottom: 6rem;
  }
}

.section#contact .contact .contact2 dl {
  margin-bottom: 26px;
}

.section#contact .contact .contact2 dl dt {
  width: 191px;
  height: 31px;
  background-position: 0 -1232px;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact2 dl dt {
    width: 181px;
    height: 23px;
    background-position: 0 -1112px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact2 dl dt {
    width: 138px;
    height: 19px;
    background-position: 0 -889px;
    margin-bottom: 1rem;
  }
}

.section#contact .contact .contact2 button {
  display: block;
  text-indent: -22222222px;
  width: 188px;
  height: 66px;
  margin-left: 4px;
  background-position: -312px -1598px;
  cursor: pointer;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .section#contact .contact .contact2 button {
    width: 170px;
    height: 60px;
    background-position: -281px -1438px;
  }
}

@media screen and (max-width: 700px) {
  .section#contact .contact .contact2 button {
    width: 136px;
    height: 48px;
    background-position: -224px -1150px;
  }
}

.section#contact img {
  width: 754px;
  height: 447px;
  right: 0;
  top: 0;
}

footer {
  width: 100%;
}

footer .container {
  padding: 37px 0 20px;
  color: #b3b3b3;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  footer .container {
    padding: 37px 6rem 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 37px 6rem 20px;
    font-size: 12px;
  }
}

footer .container ul li {
  margin-left: 25px;
  cursor: pointer;
}

footer .container ul li a {
  color: #b3b3b3;
}

footer .container ul li a.bold {
  font-family: "NanumSquareExtraBold";
}

footer .w3c_valid {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0;
}

@media screen and (max-width: 700px) {
  footer .w3c_valid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .w3c_valid a {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */